*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	margin: 0px 20%;
	background-color: #D1D1D1;
	font-family: 'Public Sans', sans-serif;
}

button{
	border: none;
	background-color:transparent;
	outline: none;
}

li{
	list-style: none;
	cursor: pointer;
}


nav{
	display: flex;
	background-color: #F3AA25;
	cursor: pointer;
}

nav h1{ 
	padding: 0.5em 0.5em 0.5em 1em;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
}


.nav_list{
	position: absolute;
	padding: 5px;
	background-color: #F3AA25;
	line-height: 1.6;
}

.content{
	margin: 0% 0% 0% 4.5em;
	background-color: #333333;
	padding: 1% 20%;
	box-shadow: 0 4px 11px 3px rgba(0,0,0,0.2);
}

.card h3{
	background-color: #1586BE;
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	margin: 0;
	padding: 1em; 
}

.card{
	width: 100%;
    position: relative;
    margin: 2.5% 5em 2.5% 0em;
    padding: 20% 10%;
    box-shadow: 0 4px 11px 3px rgba(0,0,0,0.2);
    background-color: #A8DADC
} 

.panes{
	display: none;
}

.active{
	display: block;
}

.refresh{
	position: absolute;
	top: 5em;
	left: 1em;
}

.side_nav ul li{
	border-bottom: 2px solid #333333;
}

.hide{
	display: none;
}

.unready{
	margin: 0% 0% 0% 4.5em;
	padding: 0.5em 0.5em 0.5em 1em;
	background-color: #F3AA25;
}

.network_list ul{
	line-height: 1.6;
}

.network_list li{
	background-color: #7CAFCF;
	margin-top: 10%; 
	padding: 5%;
	border: 2px solid #1586be;
    border-radius: 7px;
}

.connect_button{
	float: right;
    margin: 3% 40%;
    padding: 3%;
    background-color: #1586be99;
    border-radius: 6px;
    font-size: 15px;
}

.scroll{
	padding: 15px;
 	height: 300px;
 	overflow: auto;
}

.input_field input{
	background: #7CAFCF;
	width: 80%;
	padding: 10px;
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #1586be;
	border-radius: 7px;
}

::placeholder {
  color: black;
  opacity: 1;
}

@media only screen and (max-width: 1100px) {
  body {
    margin: 0px 10%;
	padding: 0px;
	background-color: #D1D1D1;
	font-family: 'Public Sans', sans-serif;
  }
}

@media only screen and (max-width: 850px) {
  body {
    margin: 0px;
  }
}

@media only screen and (max-width: 650px) {
  body {
   	margin: 0px;
  }

  .content{
  	padding-left: 10%;
  	padding-right: 10%;
  	position: relative;
  }
  .card{
    width: 102%;
    margin: 13px 0px 0px 0px;
	}
}

@media only screen and (max-width: 500px) {
  body {
   	margin: 0px;
   	overflow: auto;
   	width:500px;
  }
}